@media all and (max-width: 700px) {
  body {
    background-color: #e7ecef;
  }

  .App-header {
    text-align: center;
    background-color: #151e3f;
    color: white;
    padding: 20px;
  }

  .App-header h1 {
    margin: 0;
  }

  .random-item-window {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
    max-width: 500px;
    padding: 10px;
  }

  .random-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .random-button button {
    font-size: 20px;
  }

  .random-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 700px;
    background-color: #92acc8;
    border-radius: 10px;
    margin: 30px 20px 20px 20px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-shadow: 5px 5px 27px 0px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 5px 5px 27px 0px rgba(0, 0, 0, 0.47);
    box-shadow: 5px 5px 27px 0px rgba(0, 0, 0, 0.47);
  }

  .random-item p {
    font-weight: 600;
  }

  .random-item-title {
    background-color: #ce4760;
    margin-top: 20px;
    color: white;
    border-radius: 10px;
    padding: 5px;
  }

  /* item suggestion page styles */

  .submission {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .submission h1 {
    text-align: center;
  }

  .suggest-item-form {
    padding: 10px;
    margin: 5px;
    background-color: #3581b8;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    display: flex;
    flex-direction: column;
  }

  .suggest-item-form p {
    text-align: center;
  }

  .suggest-item-form label {
    margin-top: 10px;
  }

  .item-category {
    background-color: lightgray;
    border-radius: 5px;
    color: black;
    padding: 0px 10px 10px 10px;
  }

  .name-options {
    background-color: lightgray;
    border-radius: 5px;
    color: black;
    padding: 0px 10px 10px 10px;
  }

  .credit-name {
    margin: 20px 0px 10px 0px;
  }

  .submission button {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10px;
  }

  .back-button {
    margin-top: 15px;
  }

  .to-submit-suggestion {
    margin-top: 15px;
  }
}

@media all and (min-width: 700px) {
  body {
    background-color: #e7ecef;
  }

  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #151e3f;
    color: white;
    padding: 20px;
  }

  .App-header h1 {
    margin: 0;
  }

  .App-header button {
    margin-top: 20px;
    font-size: 15px;
  }

  .random-item-window {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #info {
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #info p {
    max-width: 700px;
    font-size: 20px;
  }

  .random-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .random-button button {
    font-size: 20px;
  }

  .random-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 700px;
    background-color: #92acc8;
    border-radius: 10px;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-shadow: 5px 5px 27px 0px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 5px 5px 27px 0px rgba(0, 0, 0, 0.47);
    box-shadow: 5px 5px 27px 0px rgba(0, 0, 0, 0.47);
  }

  .random-item p {
    font-weight: 600;
    font-size: 20px;
  }

  .random-item-title {
    background-color: #ce4760;
    margin-top: 20px;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 25px;
  }

  /* item suggestion page styles */

  .submission {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .submission h1 {
    text-align: center;
  }

  .suggest-item-form {
    padding: 10px;
    margin: 5px;
    background-color: #3581b8;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    display: flex;
    flex-direction: column;
  }

  .suggest-item-form p {
    text-align: center;
  }

  .suggest-item-form label {
    margin-top: 10px;
  }

  .item-category {
    background-color: lightgray;
    border-radius: 5px;
    color: black;
    padding: 0px 10px 10px 10px;
  }

  .name-options {
    background-color: lightgray;
    border-radius: 5px;
    color: black;
    padding: 0px 10px 10px 10px;
  }

  .credit-name {
    margin: 20px 0px 10px 0px;
  }

  .submission button {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10px;
  }

  .back-button {
    margin-top: 15px;
    font-size: 20px;
  }

  .to-submit-suggestion {
    margin-top: 15px;
    font-size: 20px;
  }
}
