.App-header {
  text-align: center;
  background-color: lightgray;
}

.random-item-window {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#info {
  text-align: center;
  max-width: 500px;
}

.random-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.random-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 700px;
  background-color: lightgray;
  border-radius: 10px;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
